@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 158 45% 20%;
    --primary-foreground: 158 45% 95%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 45 65% 52%;
    --accent-foreground: 158 45% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 158 45% 20%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 96.1%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 96.1%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 96.1%;
    --primary: 158 45% 80%;
    --primary-foreground: 158 45% 10%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 65% 62%;
    --accent-foreground: 45 65% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 158 45% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
